@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

:root {
  --main-background: #264653;
  --color-green: #2a9d8f;
  --color-orange: #f4a261;
  --color-yellow: #e9c46a;
  --color-red: #e76f51;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--main-background);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
}

body {
  overflow: hidden;
}

/* Utility */

.yellow-accent-text {
  color: var(--color-yellow);
}

/* Header */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  font-size: 28px;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #5750f6;
}

/* About Section */

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile-picture {
  display: inline-block;
  width: 250px;
  height: 250px;
  border-radius: 50%;

  margin-top: 75px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.lower-text {
  margin-top: 30px;
  font-size: 18px;
  text-align: center;
}

.name-text {
  text-align: center;
  font-family: "Satisfy", cursive;
  font-size: 42px;
}
