@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #24252a;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 10%;
}

.logo-text {
  color: white;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  font-size: 28px;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #0088a9;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  background-color: white;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
  width: 300px;
  margin: 10px;
}

.card h2, p{
  background-color: white;
}

.card-image {
  background-color: aqua;
  height: 170px;
  margin-bottom: 15px;
  background-size: cover;
}

.car-1 {
  background-image: url('/images/Covid-19-detection.PNG');
}

.car-2 {
  background-image: url();
}

.car-3 {
  background-image: url();
}
