<app-section-header number="01." title="About me"></app-section-header>
<p>
    Hello! My name is Josh and I enjoy creative problem solving and all things technology!
    My interest started back in 2012 when I built my first computer and everything snowballed from there!
    I enrolled at my local community collage and graduated with a degree in network security.
    My first job out of college offered courses where I could learn how to program. 
</p>
<p>
    Fast-forward to today, and I have had the privilege of working with the <span class="green-text">FAA and local government</span>. 
    My main focus these days is building out a platform with a <span class="green-text">startup that supports mental and physical well-being</span>.
</p>
<p>
    Here are a few technologies I've been working with recently:
</p>

<ul class="skills-list">
    <li>Angular (v13+)</li>
    <li>TypeScript</li>
    <li>Dotnet Core</li>
    <li>DynamoDB</li>
    <li>Microservices</li>
    <li>Serverless Architecture</li>
</ul>
