.background {
    width: 160px;
    height: 45px;
    border-radius: 15px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.symbol {
    background-color: #7B4AE2;
    width: 30px;
    height: 30px;
}

.title {
    color: #7B4AE2;
}