.image-background {
    border-radius: 50%;
    background: var(--light-navy);
    height: 400px;
    width: 400px;
    display: flex;
}

img {
    justify-content: center;
    align-items: center;
}
