<header>
    <nav>
        <a href="#home"><img src="../../../../assets/img/logo.svg" alt="JM"></a>
        <div class="styled-links">
            <ol>
                <li class="fadedown-enter"><a href="#about">About</a></li>
                <li class="fadedown-enter"><a href="#experience">Experience</a></li>
                <li class="fadedown-enter"><a href="#work">Work</a></li>
                <li class="fadedown-enter"><a href="#contact">Contact</a></li>
            </ol>
            <app-button href="/" text="Resume"></app-button>
        </div>
    </nav>
</header>


