h3 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

app-button {
    margin-top: 15px;
    align-content: flex-end;
}

.container {
    width: 60vw;
    padding: 20px;
    background-color: var(--light-navy);
    border-radius: var(--border-radius);
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

@media only screen and (max-width: 1200px) {
    /*Tablets [1001px -> 1200px]*/
    .container {
        max-width: 100%;
    }

    .card {
        flex-direction: column-reverse;
    }

    .card-body {
        text-align: center;
    }
}

.card-body {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.image {
    max-width: 200px;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: var(--border-radius);
}