.container {
    text-align: center;
    margin:0 15% 0 15%;
}

.section-header {
    color: var(--green);
    margin-bottom: 20px;
    font-family: var(--font-mono);
    font-size: var(--fz-md);
    font-weight: 400;
}

.section-header::before {
    position: relative;
    content: "04.";
    margin-right: 10px;
    color: var(--green);
    font-family: var(--font-mono);
    font-weight: 400;
}

.button {
    color: var(--green);
    background-color: transparent;
    border: 1px solid var(--green);
    border-radius: var(--border-radius);
    padding: 0.75em 1rem;
    font-family: var(--font-mono);
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    text-align: end;
    transition: (--transition);
    font-size: var(--fz-sm);
    margin-top: 50px;
}

p {
    margin: 0;
}

h1 {
    margin-top: 5px;
    font-size: clamp(40px, 5vw, 60px);
}

