@import '../../../shared/styles/breakpoints';

h1 {
  margin: 0 0 1rem 0;
  color: var(--orange);
  font-family: var(--font-mono);
  font-size: clamp(1.5rem, 5vw, 2rem);
  font-weight: 400;
  text-align: center;
}

/* Assuming h2 is meant for 'Joshua Mahnesmith.' and is a big-heading */
h2.big-heading {
  margin: 0 0 0.5rem 0;
  font-size: clamp(2.5rem, 8vw, 4rem);
  color: var(--lightest-slate);
  font-weight: 600;
  text-align: center;
}

h3.big-heading {
  margin-top: 0;
  color: var(--slate);
  font-size: clamp(1.8rem, 6vw, 2.5rem);
  line-height: 1.2;
  text-align: center;
}

p {
  display: none;

  @include min-sm {
    margin: 1rem 0;
    max-width: 90%;
    font-size: clamp(1rem, 4vw, 1.25rem);
    text-align: center;
    line-height: 1.5;
  }
}
