<app-section-header number="02." title="Things I've Built"></app-section-header>
<div class="container">
    <app-card title="Three.js Boid Simulation"
    subTitle="This project recreates natural bird flocking patterns through complex agent interactions, enhanced with real-time user control and dynamic visualization"
    buttonText="Code"
    image="boids.jpg"
    href="https://github.com/jmahnesmith/Boid-Simulation"
    [skillList]="boidSimulationSkills">
    </app-card>
    <app-card title="Covid Pneumonia Classifier"
    subTitle="A web application that allows users to upload C.T scans of patients and diagnose COVID-19 with 90% accuracy."
    buttonText="Code"
    image="covid.jpg"
    href="https://github.com/jmahnesmith/CS-Capstone"
    [skillList]="covidClassifierSkills">
    </app-card>
    <app-card title="Plate Spin - Random Restaurant"
    subTitle="Java-based app that randomly suggests nearby restaurants for spontaneous dining experiences"
    buttonText="Code"
    image="Plate_Spin.png"
    href="https://github.com/jmahnesmith/RandomRestaurantPicker"
    [skillList]="plateSpinSkills">
    </app-card>
    <app-card title="Automatic Beatsaber Song Downloader"
    subTitle="This project keeps the game beatsaber updated with the hottest modded songs with no intervention. The application uses the beastsaber api."
    buttonText="Code"
    image="beat_saber.jpg"
    href="https://github.com/jmahnesmith/BeatDownloader"
    [skillList]="beatSaberSkills">
    </app-card>
</div>
