@import '../../../shared/styles/breakpoints';
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    align-items: stretch;
    gap: 1rem;

    @include min-sm {
      grid-template-columns: repeat(2, 1fr);
    }

    @include min-xl {
      grid-template-columns: repeat(4,1fr);
    }
}
