@import '../../../shared/styles/breakpoints';

section-header {
  display: block;
}

.container {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
  margin-bottom: 3rem;
}

.number {
  color: var(--orange);
  font-family: var(--font-mono);
  font-size: var(--fz-heading) - 1rem;
  font-weight: 400;
  margin-bottom: 5px;
}

.line {
  display: none;

  @include min-sm {
    height: 1px;
    margin-bottom: 5px;
    background-color: var(--lightest-navy);
    width: 100%;
  }
}


h2 {
  font-size: var(--fz-heading);
  width: 100%;
}