section-header {
    display: block;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 20px;
}

.number {
    color: var(--green);
    font-family: var(--font-mono);
    font-size: clamp(var(--fz-lg), 3vw, var(--fz-xl));
    font-weight: 400;
    margin-bottom: 5px;
}

.line {
    height: 1px;
    margin-bottom: 5px;
    background-color: var(--lightest-navy);
    width: 30%;
}


h2 {
    font-size: clamp(26px, 5vw, var(--fz-heading));
}
