@import '../../../shared/styles/breakpoints';

app-navbar {
  display: none;

  @include min-sm {
    display: unset;
  }
}


main {
  display: grid;
  gap: 3rem;
  grid-template-columns: 1fr;
  justify-items: center;
  margin: auto;
  padding: 1rem;

  @include min-sm {
    max-width: 1200px;
    margin: 10rem auto 0 auto;
  }

  @include min-lg {
    gap: 5.5rem;
  }
}

.anchor-offset {
  display: none;

  @include min-sm {
    display: block;
    height: var(--nav-height);
    margin-top: var(--nav-height) / 2;
    visibility: hidden;
  }
}

.home-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 3rem;

  @include min-sm {
    grid-template-columns: repeat(2, 1fr);
  }
}
