@media only screen and (max-width: 600px) {
    app-navbar{
        display: none;
    }  
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 0px;
    align-content: center;
    gap: 1rem;
}


main {
    max-width: 80vw;
    margin: auto;
    width: 100%;
}

section {
    margin: 0px auto;
    padding: 100px 0px;
    max-width: 60vw;
}


app-name-card {
    max-width: 600px;
}

app-about-me {
    max-width: 900px;
}
