.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.home-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    min-height: 100vh;
    padding: 0px;
    gap: 10%;
}

main {
    max-width: 80vw;
    margin: auto;
    width: 100%;
    padding: 0px 100px;
}

section {
    margin: 0px auto;
    padding: 100px 0px;
}


app-name-card {
    max-width: 600px;
}

app-about-me {
    max-width: 900px;
}