
<div class="container">
    <app-navbar></app-navbar>
    <main>
        <section id="Home" class="home-container">
            <app-name-card></app-name-card>
            <app-avatar></app-avatar>
        </section>
        <section id="AboutMe">
            <app-about-me></app-about-me>
        </section>
        <section id="Projects">
            <app-projects></app-projects>
        </section>
        <section id="WhereIveWorked">
            <app-where-ive-worked></app-where-ive-worked>
        </section>
    </main>
</div>
    
