<div class="container">
  <app-navbar></app-navbar>
  <main>
    <div id="home" class="anchor-offset"></div>
    <section class="home-container">
      <app-name-card></app-name-card>
      <app-avatar></app-avatar>
    </section>

    <div id="about" class="anchor-offset"></div>
    <section>
      <app-about-me></app-about-me>
    </section>

    <div id="experience" class="anchor-offset"></div>
    <section>
      <app-projects></app-projects>
    </section>

    <div id="work" class="anchor-offset"></div>
    <section>
      <app-where-ive-worked></app-where-ive-worked>
    </section>

    <div id="contact" class="anchor-offset"></div>
    <section>
      <app-contact></app-contact>
    </section>
  </main>
</div>
