<app-section-header number="02." title="Where I've Worked"></app-section-header>
<div class="work-container">
    <div class="work-year">
        <p>2022 - Present</p>
    </div>
    <div class="work-description">
        <h3>WellRight</h3>
        <p>Part of a team of developers that designed a serverless web application. 
            Develop and document standard operating procedures and best practices. 
            Work with designers and product to ensure requirements are met.
        </p>
        <p class="technologies">Angular • NgRx • AWS • Serverless • Dotnet Core</p>
    </div>
</div>