@import '../../../shared/styles/breakpoints';

.work-experience-section {
  margin: 2rem auto;
  padding: 0 2rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;

  @include min-lg {
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
  }
}

.work-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  grid-template-rows: 4rem 1fr 4rem;
}


.work-title {
  margin: 0;
  color: var(--lightest-slate);
}

.work-year {
  font-size: var(--fz-md);
  margin: 0;
  color: var(--slate);
}

.work-description {
  color: var(--light-slate);
}

.technologies-used span {
  display: inline-block;
  background-color: var(--dark-navy);
  color: var(--orange);
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding: 0.3rem 0.6rem;
  border-radius: var(--border-radius);
  transition: transform 0.3s ease;
}

.line {
  display: block;
  height: 1px;
  margin-bottom: 2rem;
  background-color: var(--lightest-navy);
  width: 100%;

  @include min-sm {
    display: none;
  }
}

.technologies-used span:hover {
  transform: translateY(-2px);
}

.work-separator {
  border: none;
  height: 1px;
  background-color: var(--lightest-navy);
}

.work-entry:hover {
  background-color: var(--lightest-navy);
}

app-list {
  margin-top: auto;
}