<app-section-header number="03." title="Where I've Worked"></app-section-header>
<div class="container">
    <!-- WellRight Experience -->
    <div class="work-container">
        <div>
          <h3 class="work-title">Full Stack Engineer at WellRight</h3>
          <p class="work-year">Apr 2022 - Present</p>
        </div>
        <p class="work-description">
            As a Full Stack Engineer working remotely, I developed and deployed a client-coach scheduling system in a microservices environment utilizing AWS Lambda. Automated deployment processes using AWS CDK and implemented a step function to generate custom user communication lists. Optimized data retrieval and storage by implementing DynamoDB's single table design to meet our specific business data requirements.
        </p>
        <app-list [list]="wellrightTechnologies"></app-list>
    </div>
    <span class="line"></span>

    <!-- Changeis Experience -->
    <div class="work-container">
        <div>
          <h3 class="work-title">Dotnet Developer at Changeis</h3>
          <p class="work-year">Sep 2021 - Apr 2022</p>
        </div>
        <p class="work-description">
            In Arlington, Virginia, I collaborated with the FAA to develop and deploy a secure ASP.NET Core 5 application, significantly improving employee workflow and reducing error rates. My role included integrating data processing enhancements to user data upload efficiency, translating business requirements into actionable user stories, and incorporating robust authentication and authorization mechanisms into the ASP.NET Core 5 web app.
        </p>
        <app-list [list]="changeisTechnologies"></app-list>
    </div>
    <span class="line"></span>

    <!-- 9th Judicial Circuit Experience -->
    <div class="work-container">
        <div>
          <h3 class="work-title">Programming Analyst at 9th Judicial Circuit</h3>
          <p class="work-year">Jun 2018 - Sep 2021</p>
        </div>
        <p class="work-description">
            Contributed as a key team member in designing, developing, and deploying ASP.NET web APIs, facilitating electronic case filing compatible with the existing application framework. I spearheaded the design and implementation of multiple C# desktop applications that streamlined employee operations and created a .NET Core API to deliver financial data securely to external partners, enabling seamless system integration.
        </p>
        <app-list [list]="ninthJudicialTechnologies"></app-list>
    </div>
    <span class="line"></span>
</div>
