.work-container {
    display: grid;
    grid-gap: clamp(4px, calc(-5px + 2.42vw), 24px);
    grid-template-columns: repeat(4, 1fr);
    max-width: 1920px;
    width: 100%;
    margin-inline-end: auto;
    margin-inline-start: auto;
    margin-bottom: 2.5rem;
}
.work-title {
    grid-column: span 3/ span 4;
}

.work-year {
    grid-column: 4/span 4;
}

.work-description {
    grid-column: span 4/ span 4;
}

.line {
    height: 1px;
    margin-bottom: 5px;
    background-color: var(--lightest-navy);
    width: 100%;
}