@import '../styles/breakpoints';
.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0;
  list-style: none;
  justify-content: center;
  align-items: center;
  font-family: var(--font-mono);

  @include min-sm {
    justify-content: start;
  }
}

.skills-list li {
  background-color: var(--dark-navy);
  color: var(--lightest-slate);
  padding: 0.3rem 0.8rem;
  border-radius: var(--border-radius);
  font-size: 0.85rem;
  transition: transform 0.2s ease-in-out, background-color 0.2s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  font-weight: 500;
}

.skills-list li:hover {
  transform: translateY(-3px);
  background-color: var(--orange);
  color: var(--dark-navy);
}
